$green-light: #00d6b7;
$gray-light: #f5f6f8;
$gray: #8f8f8f;

.PasswordForm {
  margin: 30px 0;
  padding: 10px;
  border: 2px solid $green-light;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;

  .PasswordRow {
    position: relative;
    span {
      position: absolute;
      top: 0;
      right: 0px;
      background-color: $green-light;
      padding: 5px;
      color: #fff;
      display: inline-block;
      border-radius: 10px;
      height: fit-content;
      cursor: pointer;
      &:hover {
        filter: brightness(90%);
      }
    }
  }
}

h2 {
  color: #fff;
  text-align: center;
}

.Input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  display: block;
  background-color: $gray-light;
  padding: 7px;
  width: 300px;
  border-radius: 10px;
  font-size: 1rem;
  margin: 10px 0;
  color: $gray;
}

.Button {
  font-family: Arial;
  margin-top: 10px;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  appearance: none;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  background: $green-light;
  font-weight: bold;
  &:hover {
    filter: brightness(90%);
  }
}

.Message {
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 10px;
  padding: 7px;
  width: 100%;
  color: #fff;
}
