$green-light: #00d6b7;
$red-light: #f7504a;

.Card {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.Password {
  position: relative;
  border: 2px solid $green-light;
  display: flex;
  border-radius: 20px 0 0 20px;
  width: 280px;
  color: #fff;
  cursor: pointer;
  z-index: 1;

  .Number {
    padding: 5px;
    width: 20px;
    border-right: 2px solid $green-light;
    text-align: center;
  }

  .Title {
    padding: 5px;
    padding-left: 10px;
  }

  &::before {
    content: "SHOW";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green-light;
    border-radius: 10px 0 0 10px;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }
}

.Delete {
  border-top: 2px solid $green-light;
  border-right: 2px solid $green-light;
  border-bottom: 2px solid $green-light;
  border-radius: 0 20px 20px 0;
  padding-right: 5px;
  margin-right: 10px;
  transition: 0.3s;
  cursor: pointer;
  span {
    padding: 3px;
  }

  &:hover {
    background-color: $red-light;
    border-top: 2px solid $red-light;
    border-right: 2px solid $red-light;
    border-bottom: 2px solid $red-light;
  }
}

.IsEmpty {
  color: #fff;
  font-size: 1.5rem;
}

@mixin alert($content, $color) {
  border: 2px solid $color;
  transition: 0.3s;

  &.Hover {
    background-color: $color;
  }

  &:hover::before {
    position: absolute;
    content: $content;
    width: max-content;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    top: -45px;
    font-size: 0.8rem;
    z-index: 10;
  }
}

.Circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  margin-left: 10px;

  &.0 {
    @include alert("Weak password", #f7504a);
  }
  &.1 {
    @include alert("Medium password", #feea64);
  }
  &.2 {
    @include alert("Strong password", #00d6b7);
  }
}
